
*{
box-sizing: border-box;

}

.bos{

width: 100%;
background-color: black;
}

.section1{
border: 1px solid;
box-sizing: border-box;
padding: 0%;
margin: 1px;

}

h1{
text-align: center;
margin-bottom: 30px; 
}
.num1{
background-color: darkolivegreen;
}
.num2{
background-color: darkgreen;
}
.num3{
background-color: rgb(18, 77, 64);
}
.num1 h3{
margin-top: 0%;
position: sticky;
left: 100%;
background-color: rgb(0, 255, 98);
border: 1px solid;
width: 80px;
height: 24px;
   
}
.num2 h3{
margin-top: 0%;
position:sticky ;
left: 100%;
background-color:burlywood;
border: 1px solid;
width: 80px;
height: 24px;
}
.num3 h3{
margin-top: 0%;
position:sticky ;
left: 100%;
background-color: aqua;
border: 1px solid;
width: 80px;
height: 2%;
}


@media (min-width: 992px) {
.num1 , .num2 , .num3 {
  float: left;
 
}
.num1{
width:32%
}
.num2{
width:32%
}
.num3{
width:32%
}
}


@media (min-width: 768px) and (max-width: 991px) {
.num1,.num2,.num3{

    float: left;
}

.num1 {
  width: 48%;
}
.num2 {
  width: 48%;
}
.num3 {
  width: 96%;
}
}
@media(max-width:767px)
{
.num1 {
  width: 100%;
}
.num2 {
  width: 100%;
}
.num3 {
  width: 100%;
}

}

